<html>
    <head>
        <title>Cookieblob - PAGENAME</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin">
        <link rel="stylesheet" type="text/css" href="/index.css">
    </head>
    <body>
        <h1><a href="#">Cookieblob Admin Dashboard</a></h1>
        <h3>Welcome back <%=user.username%>.</h3>

        <h3>Command Usage Stats</h3>
        <table>
            <tr>
                <th><h4>Name</h4></th>
                <th><h4>Count</h4></th>
            </tr>
            <%-cmdUsagesArr.sort( (v1, v2) => v1.count-v2.count).reverse().map(v => `<tr><th>${v.id}</th>\n<th>${v.count}</th></tr>`).join("\n")%>
        </table>

        <h3>Testing Zone</h3>
        <p><a href="link">Link</a></p>
        <p style="color:orange;"><strong>Some text</strong></p>
    </body>
</html>