<html>
    <head>
        <title>Cookieblob - PAGENAME</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin">
        <link rel="stylesheet" type="text/css" href="./index.css">
    </head>
    <body>
        <h1><a href="#">Cookieblob - <%=guildAmount%> guilds!</a></h1>
        <p><a href="link">Link</a></p>
        <p style="color:orange;"><strong>Some text</strong></p>
    </body>
</html>