<html>
<head>
    <%- include("../parts/head"); %>
</head>
<body>
    <%- include("../parts/header"); %>
    <main>
        <ul id="dashboard-sn" class="sidenav sidenav-fixed">
            <li class="center"><h3>Cookieblob</h3></li>
            <li><a href="/dashboard/guilds">Choose another Guild</a></li>
            <li><a href="#!">Server Details</a></li>
        </ul>
        blah blah blah
    </main>
    <%- include("../parts/footer"); %>
</body>
</html>