<html>
    <head>
        <title>Cookieblob - Docs</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin">
        <link rel="stylesheet" type="text/css" href="./index.css">
    </head>
    <body>
        <h1><a href="/">Home</a></h1>
        <h3>Cookieblob Docs - Commands</h3>
        <center><table>
            <tr>
                <th><h4>Name</h4></th>
                <th><h4>Description</h4></th>
                <th><h4>Usage</h4></th>
            </tr>
            <%-
            commands.map(cmd => `<tr><th>cb!${cmd.meta.name}</th><th>${cmd.meta.description}</th><th>${renderUsage(cmd.meta.name).split("<").join("&lt;").split(">").join("&gt;")}</th></tr>`).join("\n")
            %>
        </table></center>
    </body>
</html>