<html>
<head>
    <%- include("parts/head"); %>
</head>
<body>
    <%- include("parts/header"); %>
    <main>
        <div class="row center">
            <h4 class="red-text"><%- error %></h4>
        </div>
    </main>
    <%- include("parts/footer"); %>
</body>
</html>