<html>
    <head>
        <%- include("parts/head"); %>
    </head>
    <body>
        <%- include("parts/header"); %>
        <main>
            <div class="row center">
                <h4 class="header col s12 light">
                    Cookieblob is a 
                    <a class="typewrite orange-text" data-period="1500" data-type='["modern", "customizable", "music", "fun"   ]'>
                        <span class="wrap"></span>
                    </a>
                    discord bot.
                </h4>
                <a href="/invite" class="waves-effect waves-light btn-large">
                    <i class="material-icons left">add_circle</i>add it to your guild
                </a>
            </div>
        </main>
        <%- include("parts/footer"); %>
    </body>
</html>