<html>
    <head>
        <%- include("parts/head"); %>
    </head>
    <body>
        <%- include("parts/header"); %>
        <h1>Hello Homepage</h1>
        <%- include("parts/footer"); %>
    </body>
</html>