<html>
    <head>
        <title>Cookieblob</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin">
        <link rel="stylesheet" type="text/css" href="./index.css">
    </head>
    <body>
        <h1><a href="#">Cookieblob - <%=guildAmount%> guilds!</a></h1>
        <p><a href="docs">Documentation</a></p>
        <h4><a href="https://discordapp.com/oauth2/authorize?client_id=324874714646577152&scope=bot&permissions=3173376">Invite Cookieblob</a></h4>
        <p><a href="https://discord.gg/ubPbX98">Support Guild</a></p>
        <p><a href="https://github.com/RONTheCookie/Cookieblob">GitHub</a></p>
        <p><a href="/oauthguard">Login with Discord (Admin Dashboard)</a></p>
        <br/>
        <p><a href="https://jellz.me/">Jellz's Website</a></p>
        <p><a href="https://ronthecookie.me/">RONTheCookie's Website</a></p>
        <br/>
        <p style="color:orange;"><strong>cb!help</strong></p>
    </body>
</html>