<html>
    <head>
        <%- include("parts/head"); %>
    </head>
    <body>
        <%- include("parts/header"); %>
        <main>
            <div class="row center">
                <img src="https://u.ronthecookie.me/guildchart">
            </div>
        </main>
        <%- include("parts/footer"); %>
    </body>
</html>