html {
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
    background-color: rgb(245, 245, 245);
    margin: 0;
}

#main {
    margin-top: calc(0% + 150px);
    text-align: center;
}

#blob-title {
    font-family: "Open Sans", sans-serif;
}

#blob-logo {

}

#blob-invite {
    font-family: "Montserrat", sans-serif;
    margin-top: -10px;
    color: white;
    border-radius: 10px;
    border: 5px solid #2ecc71;
    background-color: #2ecc71;
}

a {
    text-decoration: none;
}