<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> Not needed atm -->
<script src="script.js"></script>
<footer class="page-footer">
        <div class="footer-copyright">
          <div class="container">
          © 2018 RONTheCookie. All rights reserved. 
          </div>
        </div>
</footer>