<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> Not needed atm -->
<script src="script.js"></script>
<div class="row center">

</div>
<footer class="page-footer">
  <div class="container">
    <div class="row center">
        <a href="invite" class="waves-effect waves-light btn">
            <i class="material-icons left">add_circle</i>add it to your guild
        </a>
    </div>
  </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 RONTheCookie. All rights reserved. 
          </div>
        </div>
</footer>