<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Cookieblob</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="docs">Documentation</a></li> 
      <li> <a href="oauth" class="btn waves-effect waves-light" id="login-discordoauth-button">
        <i class="material-icons left">lock</i>
        Login With Discord
      </a> </li>
    </ul>
  </div>
</nav>

<h2 class="header center orange-text">Cookieblob<%- typeof title == "string" ? ` - ${title}` : `` %></h2>