<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Cookieblob</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <a href="login" class="btn waves-effect waves-light" id="login-discordoauth-button">
        <i class="material-icons left">lock</i>
        Login With Discord
      </a> </li>
    </ul>
  </div>
</nav>

<h1 class="header center orange-text">Cookieblob</h1>