<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Cookieblob</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/docs">Documentation</a></li> 
      <li><a href="/stats">Stats</a></li> 
      <!-- <li> <a href="oauth" class="btn waves-effect waves-light" id="login-discordoauth-button">
        <i class="material-icons left">lock</i>
        Login With Discord
      </a> </li> -->
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a href="/docs">Documentation</a></li> 
  <li><a href="/stats">Stats</a></li> 
</ul>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });
</script>
<!-- <h2 class="header center orange-text">Cookieblob<%- typeof title == "string" ? ` - ${title}` : `` %></h2> -->