h1 {
    color: goldenrod;
}

a:hover {
    color: orangered;
    text-decoration: none;    
}

a {
    color: goldenrod;
    text-decoration: none;
}

body {
    font-family: Cabin, sans-serif;
    text-align: center;
    background: #CAC531;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 1%;
}