.loader {
    background-color: #ff5722;
    z-index: 100000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.custom-spinner-color-loader {
    border-color: #fbc02d;
}